.mdl-layout .mdl-textfield {
	margin: 30px;
}

.mdl-layout {
	color: white;
}

.mdl-navigation {
	margin: 0 auto;
	display: table;
	text-align: center;
}

.carousel-wrapper {
	position: fixed;
	bottom: 0px;
	z-index: 10000;
	height: 23%;
	width: 100%;
	background-color: blue;
	padding: 25px;
}

.4wrapper {
	display: table;
	margin: 0 auto;
	padding-left: 50px;
}