<div class="bing-map-container" ng-controller="MainController">

  <bing-map
      credentials="'AkaxzD5YOJCbIvziHVOLfm6AkeM5Z5UQ3dHS53mQzwK-6LGWnxYjAwNqfe3D4UBT'"
      center="mapOptions.center"
      zoom="mapOptions.zoom"
      mapType="mapOptions.mapType">

      <pushpin
          lat="pushpin.location.latitude"
          lng="pushpin.location.longitude"
          options="pushpin.options"
          events="pushpin.events",
          pushpin-data="pushpin.data">
      </pushpin>

  </bing-map>
</div>
