<div ng-controller="NavigationController">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <!-- Start Position Field -->
          <form ng-submit="submitForm()">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="start" ng-model="form.startLocation">
              <label class="mdl-textfield__label" for="start" ng-model="form.endLocation"></label>
            </div>

            <!-- Change Locations -->
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">compare_arrows</i>
            </button>

            <!-- End Location Field -->
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="finish" ng-model="form.endLocation">
              <label class="mdl-textfield__label" for="finsih"></label>
            </div>

            <!-- Accent-colored raised button -->
            <input type="submit"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              value="Find Restaurants" >
          </form>

        </nav>
      </div>
    </header>
  </div>
</div>
